/* html5doctor.com Reset Stylesheet */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { line-height: 1.5; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: rgba(255, 255, 255, 0.4); text-decoration: none; }
mark { background-color: rgba(255, 255, 255, 0.4); font-style: inherit; font-weight: bold; }
del { text-decoration: line-through; }
em { font-style: italic; }
strong { font-weight: bold; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px dashed white; width: 80%; margin: 1em auto; padding: 0; }
input, select { vertical-align: middle; }
h1 { font-size: 2em; line-height: 100%; margin-top: .5em; margin-bottom: .5em; }
h2 { font-size: 1.5em; line-height: 128.6%; margin-top: 1.143em; }
h3 { font-size: 1.25em; margin-top: 1.1em; }
h4 { margin-top: .5em; }
p, ul, ol, dl, pre, code, blockquote { font-size: 1em; }
li { margin-bottom: .75%; }
small, aside { font-size: 0.75em; }

body {
  color: #2C2E2B;
  background-color: #FCF4B2;
  background-image: url("gplay.png");
  font: 16px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #002F2F;
  font-weight: bold;
  font-family: "Monda", sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
}

header, footer {
  background-color: #F7DE1E;
  background-image: url("hexellence.png");
  font-family: "Monda", sans-serif;
  text-align: center;
  padding: 1rem;
  border-top: solid black thick;
  border-bottom: solid black thick;
}

header p, h1 {
  margin-top: 0;
  margin-bottom: 0;
}

header ul {
  display:  flex;
  list-style: none;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}

header ul li svg {
  max-width: 100%;
  max-height: 3rem;
  fill: #B22E2B;
}

header ul li label {
  text-align: center;
  display: block;
  color: #B22E2B;
  cursor: pointer;
}

header ul li:hover label, header ul li:hover a, header ul li:hover svg {
  color: black;
  fill: black;
}

main {
  display: flex;
}

div.flex-wrapper {
  flex: 4;
  padding-bottom: 1rem;
}

nav {
  font-size: 85%;
  padding: .5rem;
  background-color: #4D5BC8;
  background-image: url("gplay.png");
  overflow: auto;
  border-right: thick solid #000;
  flex: 1 1 10rem;
  align-items: stretch;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  background-color: #4D5BC8;
  border: 1px solid #000;
  margin: 0.5rem;
}

nav a {
  color: white;
  padding: .5rem;
  display: block;
}

ul {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
}
ol {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1.7rem;
}
p {
  margin-left: 1rem;
  margin-right: 1rem;
}
a {
  color: #B22E2B;
}

pre {
  margin: .5rem 1.5rem;
  color: white;
  background-color: #515151;  
  padding: .25rem .75rem;
  max-width: 55vw;
  overflow: scroll;
}

code.cli, pre.cli {
  color: white;
  background-color: #515151;
  padding: .15rem .4rem;
}

code.cli::before, pre.cli::before {
  content: '# ';
  }

dt {
  border-top: dashed white thin;
  padding-top: .35em;
  margin-top: .25em;
  margin-left: 1rem;
  margin-right: 1rem;
}

dt:first-child {
  border-top: none;
}

dd {
  margin-bottom: 0.25em;
}

svg.hide {
  height: 3rem;
  width: 3rem;
  display: none;
}

.note {
  width: 80%;
  border: thin solid #000;
  background-color: #FCF4B2;
  padding: .5rem;
  font-size: small;
  margin-bottom: .5rem;
}
